<style type="text/css">

    .logo {
        margin: 25px auto;
        border-radius: 50%;
        vertical-align: middle;
        width:100px;
        height:100px;
        background-size: cover;
        background:url({{@blog.logo}}) no-repeat center center;
    }
</style>

<div class="card">
    <div class="card-content">
        <div class="logo"></div>
        <p style="text-align: center;"><strong style="color:#999">{{@blog.description}}</strong></p>
    </div>
</div>