<style type="text/css">
    .logo-div {
        position: relative;
        text-align: center;
    }

    .logo {
        margin: 0px auto;
        padding: 20px 0px;
        border-radius: 50%;
        vertical-align: middle;
        width: 30%;
        height: 30%;
    }
</style>

<div class="card">
    <div class="card-content">
        <div class="logo-div">
            <img class="logo" src="{{@blog.logo}}">
        </div>
        <p style="text-align: center;"><strong style="color:#999">{{@blog.description}}</strong></p>
    </div>
</div>