{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The main content area on the homepage }}

<style type="text/css">




</style>

<main id="content" class="content" role="main">

    {{! The tag below includes the post loop - partials/loop.hbs }}

    <div class="row ">

        <div class="col-md-8">
            {{> "loop"}}
        </div>

        <div class="col-md-4">

            <div class="card">
                <div class="card-content">
                    <strong>{{@blog.description}}</strong>
                </div>
            </div>

            {{! 标签云 }}
            {{tag_cloud}}

        </div>
    </div>


</main>
